<ion-header>
    <ion-toolbar color="primary">
      <ion-title class="font-size-18">
        Sistema de Asistencia DUOC
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-content [fullscreen]="true" #page class="ion-padding-horizontal page">

    <ion-button (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cargar Imagen Con Codigo QR
    </ion-button>

    <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        Comenzar Escaneo De QR
    </ion-button>

    <ion-button  *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Detener Escaneo De QR
    </ion-button>

    <ion-button  (click)="limpiarDatos()" expand="full" shape="round">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Limpiar Datos
    </ion-button>

    <video #video [hidden]="!escaneando" width="100%"></video>
    <canvas #canvas hidden></canvas>

    <!-- <div class="center-container"> -->
    
      <ion-card>
        <ion-card-header>
          <ion-card-title class="center-container">Los datos del Código QR son los siguientes</ion-card-title>
        </ion-card-header>
        <ion-card-content class="borde">
          <br>
          <table>
            <h2 *ngIf="datosQR">
              <tr>
                <td class="ancho_columna-titulos"> Bloque de Inicio </td>
                <td>{{bloqueInicio}}</td>
              </tr>
              <tr>
                <td> Bloque de Termino </td>
                <td>{{bloqueTermino}}</td>
              </tr>
              <tr>
                <td> Dia </td>
                <td>{{dia}}</td>
              </tr>
              <tr>
                <td> Hora de Fin </td>
                <td>{{horaFin}}</td>
              </tr>
              <tr>
                <td> Hora de Inicio </td>
                <td>{{horaInicio}}</td>
              </tr>
              <tr>
                <td> Sigla </td>
                <td>{{idAsignatura}}</td>
              </tr>
              <tr>
                <td> Nombre de Asignatura </td>
                <td>{{nombreAsignatura}}</td>
              </tr>
              <tr>
                <td> Nombre del Profesor </td>
                <td>{{nombreProfesor}}</td>
              </tr>
              <tr>
                <td> Seccion </td>
                <td>{{seccion}}</td>
              </tr>
              <tr>
                <td> Sede </td>
                <td>{{sede}}</td>
              </tr>
            </h2>
          </table>
          <h6 class="center-container" *ngIf="!datosQR">
            Sin información
          </h6>
        </ion-card-content>
      </ion-card>
      
    <!-- </div> -->
  
  </ion-content>
  
