<ion-header>
    <ion-toolbar color="primary">
      <ion-title class="font-size-18">
        Sistema de Asistencia DUOC
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-content [fullscreen]="true" #page class="ion-padding-horizontal page">

    <ion-button (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cargar Imagen Con Codigo QR
    </ion-button>

    <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        Comenzar Escaneo De QR
    </ion-button>

    <ion-button  *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Detener Escaneo De QR
    </ion-button>

    <ion-button  (click)="limpiarDatos()" expand="full" shape="round">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Limpiar Datos
    </ion-button>

    <video #video [hidden]="!escaneando" width="100%"></video>
    <canvas #canvas hidden></canvas>

    <!-- <div class="center-container"> -->
    
      <ion-card>
        <ion-card-header>
          <ion-card-title>Los datos del Código QR son los siguientes:</ion-card-title>
        </ion-card-header>

        <ion-card-content class="borde">
            <br>
          <h2 *ngIf="datosQR">
           Datos: {{ datosQR }}
          </h2>
          <br>
          <h2>
            Escaneando: {{ escaneando }}
          </h2>
          <h2 *ngIf="!datosQR">
            Sin información
          </h2>
        </ion-card-content>
      </ion-card>
      
    <!-- </div> -->
  
  </ion-content>
  
